.Header {
    color: rgb(83, 80, 80);
    margin-top: 45px !important;
    margin-bottom: 25px !important;
}
h2{
    margin-top: 65px !important;
    color: rgb(32, 28, 28);
    font-weight: bolder;
    text-align: center;
    background-color: #4b3c41;
}